<div class="modal new-connect">
    <div class="button button-clear close" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
  <content has-header="false" padding="true" class="content-wrapper">
    <h1>You've been connected!</h1>
    <div class="connection-images">
    	<img src="https://www.linkedin.com/mpr/pub/image-iUKRpPifEkEYPvnwVmr16f194bw-EZpDi0ro6hxr4Tn8ECS7iUKoHb2f439mE0tZ5O2W/ian-lyons.jpg" class="you-img">
    	<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/6/005/05a/2d1/11b15ba.jpg" class="other-img">
    </div>
    <button class="button button-light" ng-click="startConversation()">Start a conversation</button>
    <button class="button button-light" ng-click="modal.hide()">Keep browsing</button>
  </content>
</div>