<ion-view name="MainIndex">
  
  <!-- Header Bar -->
  <ion-header-bar class="bar-light">
    <button class="button button-icon" menu-toggle="'left'">
      <i class="icon ion-navicon-round"></i>
    </button>
    <h1 class="title"><img src="img/twenty-header.jpg" style='height: 35px; margin-top: 6px;'></h1>
    <button class="button button-icon" menu-toggle="'right'">
      <i class="icon ion-android-mail"></i>
    </button>
  </ion-header-bar>

  <div class="mock-ion-content has-header">
    <ion-pane ng-controller="CardsCtrl">
      <swipe-cards on-swipe="onSwipe($event)" ng-init="logCards()" swipe-function="swipeCard">
        <div class="deck">
          <swipe-card ng-repeat="card in cards | reverse" on-destroy="cardDestroyed($index)" on-swipe-left="sendOpinion(card.userId, 'left')" on-swipe-right="sendOpinion(card.userId, 'right')" on-swipe="cardSwiped($index)">
            <!-- Put swipable content here -->
            <div ng-controller="CardCtrl">
                <!-- Single Card -->
                <article class="card article-card">
                  <div class="row details">
                    <div class="col col-33 photo">
                      <img ng-src="{{card.picture}}">
                    </div>
                    <div class="col">
                      <h1>{{card.firstName}} {{card.lastName.charAt(0)}}.</h1>
                      <h3>{{card.WORKS_FOR.name}}</h3>
                      <div class="row subDetails">
                        <div class="col">
                          <i class="icon ion-social-linkedin"></i>
                          <span>{{card.numConnections}}</span>
                        </div>
                        <div class="col">
                          <i class="icon ion-android-contacts"></i>
                          <span>5</span>
                        </div>
                        <div class="col">
                          <i class="icon ion-ios7-clock"></i>
                          <span>{{card.lastActive}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row headline">
                    <div class="col">
                      <h2>{{card.headline}}</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <h5>interested in talking about</h5>
                      <span class="interest" ng-repeat="interest in card.HAS_SKILL">
                        {{interest}}
                      </span>
                    </div>
                  </div>
                </article>
              </div>
          </swipe-card>

          <!-- Third card -->
          <!-- <article class="card next"></article> -->

          <!-- Buttons -->
          <div class="row buttons">
          <!-- <div class="row buttons" ng-hide="isDeckEmpty()"> -->
            <div class="col col-center">
              <button class="button button-light ignore" swipe-button current-card="cards" ng-click="rejectCard()">
              <!-- <button class="button button-light ignore" swipe-button current-card="cards" ng-click="rejectCard(this)"> -->
                <i class="icon ion-close"></i>
              </button>
            </div>
            <div class="col col-center">
              <!-- <button class="button button-light accept" ng-click="approveCard(this.$$childHead.$$nextSibling.$$nextSibling.swipeCard)"> -->
              <button class="button button-light accept" ng-click="approveCard()">
                <i class="icon ion-checkmark"></i>
              </button>
            </div>
          </div>
        </div>
      </swipe-cards>
      <!-- <loading-screen emptyDeck="deckIsEmpty()"></loading-screen> -->
    </ion-pane>
    <p style="position: absolute; bottom: -8px; left: 8px; font-size: 12px;"><b>User:</b> {{user}}</p>

  </div>
</ion-view>








