<ion-view name="MessagesList">
	<ion-header-bar class="bar-dark">
	  <h1 class="title">Conversations</h1>
	</ion-header-bar>
	<ion-content>
	  <ion-list>
	    <ion-item ng-repeat="conversation in messages.conversations | orderBy: 'other.lastName'" class="conversation" ng-click="goToConversation(conversation.other.userId)">
	      <div class="row">
	        <div class="col col-25">
	          <img ng-src="{{ conversation.other.picture }}">
	        </div>
	        <div class="col col-75">
	          <h3 class="name">{{ conversation.otherDisplayName() }}</h3>
	          <span class="company">{{ conversation.other.WORKS_FOR.name }}</span>
	          <span class="conversation-preview"> {{ conversation.contactMessagePreview() }}</span>
	        </div>
	      </div>
	    </ion-item>
	  </ion-list>
	</ion-content>
</ion-view>