<ion-view name="OwnProfile">
  <ion-nav-bar class="bar-dark">
		<div class="button button-icon definitely-show" ng-click="goBack()">
	    <i class="ion-chevron-left"></i>
		</div>
		<h1 class="title">My profile</h1>
	</ion-nav-bar>
  <ion-content class="own-profile">
    <div class="deck">
      <article class="card">
        <div class="row details">
          <div class="col col-33 photo">
            <img ng-src="{{userDetails.picture}}">
          </div>
          <div class="col">
            <h1>{{userDetails.firstName}} {{userDetails.lastName.charAt(0)}}.</h1>
            <!-- <h3>{{userDetails.WORKS_FOR.name}}</h3> -->
            <h3>Hack Reactor</h3>
            <div class="row subDetails">
              <div class="col">
                <i class="icon ion-social-linkedin"></i>
                <span>{{userDetails.numConnections}}</span>
              </div>
              <div class="col">
                <i class="icon ion-android-contacts"></i>
                <span>{{userDetails.sharedContacts}}</span>
              </div>
              <div class="col">
                <i class="icon ion-ios7-clock"></i>
                <span>{{userDetails.lastActive}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row headline">
          <div class="col">
            <h2>{{userDetails.headline}}</h2>
          </div>
        </div>
        <div class="row interests">
          <div class="col">
            <h5>interested in talking about</h5>
            <span class="interest" ng-repeat="interest in userDetails.HAS_SKILL">
              {{ interest.skill }}
            </span>
            <!-- <span class="add-item interest" add-item>+ Add more</span> -->
          </div>
        </div>
      </article>
      <!-- <a href="/#/own-profile/edit" class="button edit-profile">Edit profile</a> -->
    </div>
  </ion-content>
</ion-view>