/* Empty. Add your own CSS if you like */

/* OVERALL APPLICATION STYLING */
ion-content {
  background-color: #fbfbfb;
}


/* PRIMARY CARD STYLING */
.photo img {
  width: 100%;
  height: auto;
  border: solid 2px #d7d7d7;
}

.card {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  margin-bottom: 0px;
}

.subDetails {
  border: 1px solid #d7d7d7;
  border-left: none;
  border-right: none;
  padding: 0;
  margin-top: 11px;
}

.buttons {
  margin-top: 6px;
}

.buttons .button {
  display: inline-block;
  border: solid 2px;
  width: 100%;
  background-color: #fff;
}

button.button.ignore {
  border: solid 2px #9e0b0f;
  color: #9e0b0f;
}

button.button.accept {
  border-color: #65a34f;
  color: #65a34f;
}

.subDetails .col {
  text-align:center;
}

.subDetails i {
  font-size: 15px;
}

.subDetails .col:nth-child(1) {
  text-align: left;
}

.subDetails .ion-social-linkedin {
  font-size: 17px;
  position: relative;
  top: 1px;
}

.card h3 {
  font-size: 15px;
  color: #3f3f3f;
  margin: 3px 0;
}

.card h2 {
  margin-top: 10px;
  font-size: 24px;
  color: #4d4d4d;
}

.deck {
  position: relative;
}

.next {
  height: 330px;
  position:absolute;
  box-sizing: border-box;
  margin-right:20px;
  width:300px !important;
  top: -7px;
  left: 0px;
  -webkit-transform: rotate(1.4deg);
  z-index: -2;
}

.next:nth-child(2) {
  top: -7px;
  left: 4px;
  -webkit-transform: rotate(1.2deg);
  z-index: -10;
}

.details {
  max-height: 117px;
}

.interest {
  padding: 2px 5px;
  font-size: 12px;
  color: #4d4d4d;
  display: inline-block;
  margin: 0 3px 5px 0;
  border-radius: 4px;
  border: solid #d7d7d7 1px;
}

.headline {
  padding-bottom: 0;
}

.card h1 {
  margin-top: 0;
  font-size: 26px;
  margin: 0 0 3px;
  line-height: 0.9em;
}

.card h5 {
  font-variant: small-caps;
  color: #4d4d4d;
  font-size: 18px;
  margin-top: 0;
}


/* MESSAGING TAB STYLING */

/* override default ion styling for the links that encompass all ion-items */
.message a.item-content {
  padding: 0;
}

.message {
  font-size: 12px;
  color: #4d4d4d;
  padding: 0;
}

.message h3,
.message span {
  line-height: 13px;
}

.message img {
  width: 100%;
  height: auto;
}

.message span {
  display: block;
}

.message h3 {
  margin: 0 0 2px;
}

.message .company {
  color: #828282;
  font-size: 11px;
  margin-bottom: 4px;
}


/* SETTINGS TAB STYLING */

a.single-setting {
  text-decoration: none;
  color: #4d4d4d;
}

.single-setting .icon {
  margin-right: 12px;
  font-size: 26px;
  position:relative;
  top:3px;
  color: #1e9acb;
}
