/* Empty. Add your own CSS if you like */

/* This hack will solve the iphone menu padding issue if necessary */
/*body.slide-left-right-ios7.platform-cordova.platform-ios.platform-ios7.platform-ios7_1.grade-a.platform-ready {
  margin-top: 0px !important;
}*/

/* Import fonts */
@font-face {
    font-family: "MuseoSlab";
    src: url("Museo_Slab_500_2-webfont.woff") format('woff');
}

/* OVERALL APPLICATION STYLING */

ion-content {
  background-color: #fbfbfb;
  /*background-image: url(http://www.textures123.com/free-texture/leather/leather-texture.jpg);*/
}

.twenty-login {
  background-color: #509fc4;
}

.login-logo {
  height: 75px; 
  margin: 20% auto 20px auto; 
  display: block;
}

.linkedin-button-logo {
  position: relative;
  top: 5px;
  margin-left: 1px;
}

.cover {
  display: none;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0,0,0,0.3);
}

.cover.display {
  display: block;
}

.twenty-login h2 {
  color: #f0f0f0;
  font-size: 22px;
  text-align: center;
  max-width: 230px;
  margin: 30px auto;
}

/* LOADING STYLING */
.twenty-loading {
  background-image: url(../img/blurred-background.png);
  background-position:center center;
  width: auto;
}

.twenty-loading .loading-image {
  width: 220px;
  margin: 90px auto 20px;
  display: block;
}

.twenty-loading .loading-ajax {
  width: 43px;
  display: block;
  margin: 0 auto;
}


/* PRIMARY CARD STYLING */
.photo img {
  width: 100%;
  height: auto;
  border: solid 2px #d7d7d7;
}

.chat-item.card {
  box-shadow: none;
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  margin-bottom: 0px;
  z-index: 999;
}

.row.interests {
  overflow: hidden;
  height: 97px;
}

/* Main page loading subpane */
.loading-screen {
  width: 280px;
  margin: 20px auto 0;
  text-align: center;
}

.loading-screen p {
  font-size: 18px;
  color: #4d4d4d;
}


.loading-animation {
    border: 3px solid #509fc4;
    background-color: #509fc4;
    -webkit-border-radius: 200px;
    z-index: -1;
    position: relative;
    height: 200px;
    width: 200px;
    margin: 40px auto 50px;
    -webkit-animation: pulsate 1.2s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}



/* MODAL STYLING */

.modal.new-connect {
  opacity: 0.87;
  background-color: #509fc4;
  text-align: center;
}

.modal .close {
  float: right;
  color: #fff;
}

.connection-images img {
  width: 100px;
  height: 100px;
  border: solid #fbfbfb 1px;
}

.connection-images .other-img {
  position: relative;
  right: 9px;
  top: 18px;
}

.modal .button-light {
  width: 210px;
  display: block;
  margin: 15px auto 0;
  box-shadow: 1px 1px 3px;
}

.connection-images .you-img {
  position: relative;
  left: 9px;
}

.connection-images {
  margin-bottom: 60px;
}

/* this overrides a default ionic styling for the modal to give the bg more depth */
.modal-backdrop.active {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal.new-connect h1 {
  color: #fff;
  font-family: 'MuseoSlab';
  font-size: 46px;
  line-height: 42px;
  margin-bottom: 20px;
}

.modal {
  margin-top:20px;
}

.modal .content-wrapper {
  display: block;
  margin-top:20%;
}

/* TODO: Hard-coded width to account for cards from server. Make responsive */
.article-card {
  height: 324px;
  width: 300px;
}

.subDetails {
  border: 1px solid #d7d7d7;
  border-left: none;
  border-right: none;
  padding: 0;
  margin-top: 11px;
}

.buttons {
  margin-top: 6px;
  position: relative;
  top: 340px;
  left: 4px;
  z-index: -1;
}

/*TODO: Hard-coded width to compensate for not being able to use dynamic width because of position: relative*/
.buttons .button {
  display: inline-block;
  border: solid 3px;
  width: 140px;
  background-color: #fff;
  z-index: 0;
}

button.button.ignore {
  border: solid 2px #9e0b0f;
  color: #9e0b0f;
}

button.button.accept {
  border-color: #65a34f;
  color: #65a34f;
}

.subDetails .col {
  text-align:left;
}

.subDetails i {
  font-size: 15px;
}

.subDetails .col:nth-child(1) {
  text-align: left;
}

.subDetails .ion-social-linkedin {
  font-size: 17px;
  position: relative;
  top: 1px;
}

.card h3 {
  font-size: 15px;
  color: #3f3f3f;
  margin: 3px 0;
}

.card h2 {
  margin-top: 10px;
  font-size: 24px;
  color: #4d4d4d;
}

.deck {
  position: relative;
  top: -7px;
}

.next {
  height: 330px;
  position:absolute;
  box-sizing: border-box;
  margin-right:20px;
  width:300px !important;
  top: -7px;
  left: 4px;
  -webkit-transform: rotate(1.2deg);
  /*z-index: -10;*/
}

/*.next:nth-child(2) {
  top: -7px;
  left: 0px;
  -webkit-transform: rotate(1.4deg);
  z-index: -2;
}*/

.details {
  max-height: 117px;
}

.interest {
  padding: 2px 5px;
  font-size: 12px;
  color: #4d4d4d;
  display: inline-block;
  margin: 0 3px 5px 0;
  border-radius: 4px;
  border: solid #d7d7d7 1px;
}

.headline {
  padding-bottom: 0;
  height: 114px;
}

.card h1 {
  margin-top: 0;
  font-size: 26px;
  margin: 0 0 3px;
  line-height: 0.9em;
}

.card h5 {
  font-variant: small-caps;
  color: #4d4d4d;
  font-size: 18px;
  margin-top: 0;
}

/*.swipe-card.first {
  z-index:999;
}

.swipe-card.second {
  z-index:450;
}*/


/* MESSAGING TAB STYLING */

/* override default ion styling for the links that encompass all ion-items */
.conversation a.item-content {
  padding: 0;
}

.conversation {
  font-size: 12px;
  color: #4d4d4d;
  padding: 0;
}

.conversation h3,
.conversation span {
  line-height: 13px;
}

.conversation img {
  width: 100%;
  height: auto;
  border: solid #d7d7d7 1px;
}

.conversation span {
  display: block;
}

.conversation h3 {
  margin: 0 0 2px;
}

.conversation .company {
  color: #828282;
  font-size: 11px;
  margin-bottom: 4px;
}

.conversation-preview {
  font-size: 12px;
}


/* SETTINGS TAB STYLING */

a.single-setting {
  text-decoration: none;
  color: #4d4d4d;
}

.single-setting .icon {
  margin-right: 12px;
  font-size: 26px;
  position:relative;
  top:3px;
  color: #1e9acb;
}


/* CHAT DETAIL */
.chat-send {
  width: 60px;
}

.chat-item {
  border-radius: 10px;
}

.chat-item a.item-content {
  padding: 15px 20px 15px 15px;
  background-color: transparent;
  overflow: visible;
  white-space: normal;
}

.chat-item.card.not-you {
  margin: 20px 30px 20px 9px;
  background-color: #e9e9e9;
}

.chat-item.card.you {
  margin: 20px 9px 20px 30px;
  /*background-color: #93D3E5;*/
  background-color: #52757F;
  color: #fff;
}

.chat-item .time {
  font-size: 10px;
  float: right;
  margin-right: -5px;
}

/* this is to clear space at the bottom of the ion-content element for the chat box */
 .chat-details.scroll-content {
  margin-bottom:45px;
}

.chat-form {
  border-top: solid #d7d7d7 1px;
  position: fixed;
}


/* GENERAL HEADER */
.back-button {
  padding-top: 7px;
}

.definitely-show {
  display: block !important;
}

/* OVERRIDE IONIC STYLING */

.menu-animated.no-animation {
  webkit-transition: none !important;
  moz-transition: none !important;
  transition: none !important;
}

a.item:after, button.item:after, .item[href] .item-content:after, .item[ng-click] .item-content:after {
  display:none;
}

/* CUSTON ION CONTENT */
.mock-ion-content {
  background-color: #fbfbfb;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  margin-top: -1px;
  width: auto;
  height: auto;
  top: 44px;
}

.twenty-login a {
  text-decoration: none;
}

.twenty-login .row {
  margin-top: 20%;
}

.button.edit-profile {
  width: 200px;
  margin: 10px auto 0px;
  display: block;
}

.add-item.interest {
  border: solid #1e9acb 1px;
  box-shadow: inset -1px -1px 0px #93D3E5;
  padding-right:7px;
  font-weight: bold;
  cursor: pointer;
}

.add-item.interest:active {
  box-shadow: inset 1px 1px 2px #93D3E5;
  padding-left:6px;
  padding-right: 6px;
}


/* IONIC STYLES OVERWRITE */

.bar.bar-light {
  border-bottom: solid #d7d7d7 1px;
}

h1.title.title-fix {
  left: 66px !important;
  width: 170px;
}

/* Small fixes for ios7 deployment  */

  /*body.platform-ios7 .pane.menu-content { box-shadow: none; }*/
   /*body.platform-ios7 div.view { margin-top: -23px; }*/
  /*.platform-ios7.platform-cordova:not(.fullscreen) .bar-header { margin-top: -20px;}*/

/*.swipe-card.disable-user-behavior {
  -webkit-user-select: all !important;
  -moz-user-select: all !important;
  -ms-user-select: all !important;
  user-select: all !important;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
  -ms-touch-action: none;
  -ms-content-zooming: none; }*/

/*  .slide-animate.ng-enter, .slide-animate.ng-leave{
 -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s;
   -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s;
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s;
 }


.slide-animate.ng-enter.ng-enter-active {
 position: absolute;
 left: 0;
}

.slide-animate.ng-enter {
 left: 0;
}

.slide-animate.ng-leave.ng-leave-active {
 position: absolute;
 left: 320px;
 }

.slide-animate.ng-leave {
 right: 0;
 }*/
